{
  "id": {{id}},
  "name": "{{name}}",
  "address": [
    {{#address}}
      { "city": "{{city}}", "state": "{{state}}" }
      {{^isLast}},{{/isLast}}
    {{/address}}
  ],
  "contact": [
    {{#contact}}
     {
         "phone": "{{phone}}",
         "email": "{{email}}"
     }
     {{^isLast}},{{/isLast}}
    {{/contact}}
  ]
}

<!--Sample JSON for the above template-->
<!--{{^isLast}},{{/isLast}} - This is custom flag to handle commas efficiently in the json-->
<!--{-->
<!--  "id": 123,-->
<!--  "name": "John Doe",-->
<!--  "address": [-->
<!--    { "city": "New York", "state": "NY" },-->
<!--    { "city": "San Francisco", "state": "CA" }-->
<!--  ],-->
<!--  "contact": [-->
<!--    { "phone": "123-456-7890", "email": "john.doe@example.com" },-->
<!--    { "phone": "987-654-3210", "email": "jane.smith@example.com" }-->
<!--  ]-->
<!--}-->
